*.a
*.cache
*.gz
*.la
*.lo
*.log
*.o
*.plist
*.so
*.status
*.sw?
*.tab
*~
.deps
.dirstamp
.libs
/aclocal.m4
/ca-load
/ca-shell
/config.guess
/config.h
/config.h.in
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/query-lexer.c
/query-parser.c
/query-parser.h
/stamp-h1
/tests/arena-00
/tests/correlation-00
/tests/crc32c-00
/tests/fifo-00
/tests/format-00
/tests/hashmap-00
/tests/log-sort-00
/tests/rank-correlation-00
/tests/schema-00
/tests/wo-sort-00
/ylwrap
Makefile
Makefile.in
core
core.*
vgcore.*
