*.a
*.cache
*.gz
*.la
*.lo
*.log
*.o
*.so
*.status
*.sw?
*.tab
*~
.deps
.libs
Makefile
Makefile.in
aclocal.m4
ca-shell
config.guess
config.h
config.h.in
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
query-lexer.c
query-parser.c
query-parser.h
stamp-h1
ts-correlate
ts-extract
ts-load
ts-merge
ts-sort
