Source: ca-table
Priority: optional
Maintainer: Morten Hustveit <morten.hustveit@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Section: database
Homepage: https://github.com/mortehu/cantera-table/

Package: ca-table
Section: database
Architecture: any
Depends: libca-table1 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Analytics search engine
 Cantera Table allows indexing JSON formatted objects, and provides a query
 language with flexible sorting options.

Package: libca-table-dev
Section: libdevel
Architecture: any
Depends: libca-table1 (= ${binary:Version}), ${misc:Depends}
Description: Analytics search engine
 Cantera Table allows indexing JSON formatted objects, and provides a query
 language with flexible sorting options.
 .
 This package contains the files needed for developing C++ program using the
 Cantera Table C++ library.

Package: libca-table1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Analytics search engine
 Cantera Table allows indexing JSON formatted objects, and provides a query
 language with flexible sorting options.
 .
 This package contains the Cantera Table C++ library.
